html {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
}

:link {
    color: var(--css-colour-text-link);
}

.hoverable:hover {
    background-color: var(--css-overlay-hovered);
    transition: background-color 200ms;
}

.hov-bg:hover {
    background-color: var(--css-overlay-hovered);
    transition: background-color 200ms;
}

.hov-fg:hover {
    color: var(--css-colour-aspect-info-foreground) !important;
    transition: color 200ms;
}

.hov-underline:hover {
    text-decoration: underline;
}

.focusable:focus-within {
    border-color: var(--css-colour-aspect-info-average) !important;
}

.placeholder-italic::placeholder {
    font-style: italic;
    color: var(--css-colour-text-label);
}

.placeholder-error::placeholder {
    font-style: italic;
    opacity: 1;
    color: var(--css-colour-aspect-error-average);
}

/* :focus { */
    /* TODO this rule is good when actually focusing things using the tab key, 
    but it also occurs when clicking on an element etc. which is not the exptected behaviour */
    /* border: solid 2px var(--css-colour-aspect-info-average); */
/* } */

/* Note that since svg v2+, svg elements attributes are considered
 * as styling css causing all:unset to fail, hence the not() clause.
 * This will affect anything under <svg> tags. */
/* * :not(svg *), */
*,
*::before,
*::after {
    /* all: unset; */
    /* padding: unset;
    margin: unset; */
    /* box-sizing: inherit; */
    background-color: unset;
    margin: unset;
    padding: unset;
    border: unset;
    outline: unset;
    color: inherit;
    font-size: inherit;
    box-sizing: border-box;
}
/* input:focus-visible {
    outline: unset;
    border: unset;
    border-style: none;
    border-width: 1px;
    border-color: var(--css-colour-aspect-info-average);
} */
/* 
button {
    background-color: unset;
    margin: unset;
    padding: unset;
    border: unset;
    color: inherit;
    font-size: inherit;
}

input {
    border: unset;
    padding: unset;
    margin: unset;
    color: inherit;
    font-size: inherit;
} */

.unset {
    all: unset;
}

label {
    cursor: default;
}

svg {
    fill: currentColor;
}

/* Specific chromium (and probably chrome, safari, ie, etc.) */
::-webkit-scrollbar-thumb {
    background: var(--css-colour-border);
    border-radius: 4px;
  }

::-webkit-scrollbar {
    width: 5px;
    background-color: var(--css-colour-background-dp0);
}

.menu {
    background-color: var(--css-colour-background-dp2);
    scrollbar-color: var(--css-colour-border) var(--css-colour-background-dp2);
}

head {
    display: none;
}

body {
    overflow-y: hidden;
    background-color: var(--css-colour-background-dp0);
    color: var(--css-colour-text-regular);
    /* fill: var(--css-colour-text-regular); */
    margin: 0;
    font-family: "Cantarell", "Helvetica", "Arial", sans-serif;
    font-weight: normal;
    font-size: var(--css-size-font-md);
    line-height: var(--css-size-lineHeight);
    letter-spacing: 0.00938em;
}

/* h4 {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 24px;
            font-weight: 400;
            letter-spacing: normal;
            line-height: 32px;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            padding: 0px;
            margin: 0px;
        } */
/* 
        h5 {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 20px;
            font-weight: 500;
            letter-spacing: 0.15px;
            line-height: 32px;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        } */

/* h6 {
            font-family: "Roboto", "Helvetica", "Arial", sans-serif;
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 0.15px;
            line-height: 24px;
            overflow-x: hidden;
            overflow-y: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        } */

/* TODO define breakings in px as variables */
/* @media only screen and (max-width: 600px) {
            .modal-responsive {
                width: 100%;
                height: 100%;
            }
        }

        @media only screen and (min-width: 600px) {
            .modal-responsive {
                width: 100%;
                height: 100%;
                max-width: 400px;
                max-height: 400px;
            }
        }

        @media only screen and (min-width: 1200px) {
            .modal-responsive {
                width: 100%;
                height: 100%;
                max-width: 700px;
                max-height: 700px;
            }
        } */